body {
    background-color: rgb(23, 245, 53);
}

.wholePage {
    height: 100vh;
    width: 100vw;
    background-color: rgb(23, 245, 53);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: 'Bebas Neue', cursive;
}

header, footer {
    height: 100px;
    width: 90%;
    background-color: rgb(37, 35, 35);

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;

    color: rgb(255, 230, 5);
    border-radius: 25px;
    
}

header {
    font-size: 6em;
}

footer {
    font-size: 3em;
}

.newOrder {
    height: 40%;
    width: 20%;
    background-color: rgb(37, 35, 35);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    padding: 10px;

    color: rgb(255, 230, 5);
    border-radius: 25px;
    font-size: 2em;
}


.mainButtons {
    height: 100px;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addButton, .allButton, .backButton {
    height: 75px;
    width: 150px;

    color: rgb(255, 230, 5);
    background-color: rgb(37, 35, 35);

    border-style: none;
    border-radius: 25px;

    font-size: 1.5em;
}

.submitButton, .deleteButton {
    height: 50px;
    width: 70px;

    color: rgb(255, 230, 5);
    background-color: rgb(37, 35, 35);

    border-style: solid;
    border-color: rgb(255, 230, 5);;
    border-radius: 25px;

    font-size: 0.5em;
    padding: 3px;
}

.deleteButton {
    width: 80px;
    margin-left: 50px;
}

.addButton:hover, .allButton:hover, .submitButton:hover, .backButton:hover, .deleteButton:hover {
    color:  rgb(37, 35, 35);
    background-color: rgb(255, 230, 5);
}

.RBRSection {

    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 2em;
    color: rgb(255, 230, 5);
}

.received, .beingProcessed, .readyForPickup{
    background-color: rgb(37, 35, 35);
    border-radius: 25px;
    padding: 20px;
}

.received p:hover, .beingProcessed p:hover, .readyForPickup p:hover{
    background-color: rgb(255, 230, 5);
    color: rgb(37, 35, 35);
    border-radius: 25px;
    padding: 20px;
}

.received h1, .beingProcessed h1, .readyForPickup h1{
    font-size: em;
    text-decoration: underline;
}


.orderCard {
    background-color: rgb(37, 35, 35);
    color: rgb(255, 230, 5);
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2em;
}